@import 'src/variables';

.container {
    width: 31.375rem;
    height: 11.5rem;
    background: #FFF;
    box-shadow: $box-shadow;

    margin-top: 1.25rem;
    border-radius: $border-radius;

    &-spin {
        margin: 20px 0;
        width: 31.375rem;
        height: 11.5rem;
        background: #FFF;
        border-radius: $border-radius;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem;

    &-item {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        color: #2196F3;
        width: 147px;
    }
}

.group {
    padding: 0 1.25rem;
}

.element {
    display: flex;
    justify-content: space-between;

    & + .element {
        margin-top: 0.62rem;
    }
}

.column {
    flex: 1;

    &-title {
        color: #A0B0B9;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    &-item {
        font-size: 0.875rem;
    }
}

.button-item {
    margin: 20px auto;
    letter-spacing: 0.03125rem;

    width: 10.5rem;
    height: 3.125rem;
    background: #2196F3;
    border: none;
    border-radius: $border-radius;
    color: #FFF;
}